version: "3.8"
services:
  plantbot:
    build:
      context: .
      dockerfile: plantbot/Dockerfile
    restart: always
    volumes:
      - $PWD/data:/app/data
    tty: true

  mqtt:
    build:
      context: .
      dockerfile: mosquitto/Dockerfile
    restart: always
    volumes:
      - $PWD:/app
    tty: true
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto:2.0
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - $PWD/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - $PWD/data/passwd:/mosquitto/passwd

  dashboard:
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    restart: always
    volumes:
      - $PWD:/app
    tty: true
    ports:
      - "8000:8000"
